.tx-tracker {
  box-sizing: border-box;
  width: 100%;
  margin: 30px;
  margin-top: 0;
  max-width: 500px;
  padding: calc(1.5 * var(--std-separator-width));
  background: #000;
  border-radius: var(--border-radius-small);
  background-color: var(--semi-transparent) !important;
  box-shadow: var(--std-box-shadow) !important;

  h2 {
    text-align: center;
  }

  &__row {
    width: 100%;
    margin-bottom: var(--std-separator-width);
  }
}
