.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  // overwrite arco-design var
  --border-radius-small: 3px;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-dark {
  color: var(--dt-color);
  --btn-text: #143544;
}

.container-light {
  color: var(--lt-color);
  --btn-text: #ffffff;
}

.tosidrop-btn {
  border-radius: var(--border-radius-small);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &-light {
    background: var(--lt-btn-color) !important;
    border-width: 0px !important;
    color: var(--dt-color) !important;
  }
  &-dark {
    background: var(--dt-btn-color) !important;
    border-width: 0px !important;
    color: var(--lt-color) !important;
  }
}
