* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

:root {
  --dark-theme-bg-color: black;
  --light-theme-bg-color: white;
  --dt-color: #ffffff;
  --lt-color: #143544;
  --std-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  --semi-transparent: rgba(255, 255, 255, 0.1);
  --std-separator-width: 10px;
  --std-separator-width-half: 5px;
  --dt-btn-color: linear-gradient(to right, #a1ffce, #faffd1);
  --lt-btn-color: linear-gradient(to right, #4b79a1, #283e51);
}
