.Wrapper {
  width: 100%;
  height: 100%;
  // overwrite arco design variables
  --border-radius-none: var(--border-radius);
  --border-radius-small: var(--border-radius);
  --border-radius-medium: var(--border-radius);
  --border-radius-large: var(--border-radius);
  --border-radius-circle: var(--border-radius);
}

.Light {
  background: var(--light-background);
  color: var(--dark-color);
  --component-background: var(--light-component-background);
  --button-background: var(--light-button-background);
}

.Dark {
  background: var(--dark-background);
  color: var(--light-color);
  --button-background: var(--dark-button-background);
}
