.theme-switch {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px;
  border-radius: var(--border-radius-small);
  background: var(--semi-transparent);
  box-shadow: var(--std-box-shadow);
  box-sizing: border-box;
  height: var(--navbar-el-height) !important;

  &__switch {
    margin: 0 0.5rem;
  }

  .arco-switch-checked {
    background-color: inherit;
  }
}

.theme-switch-light {
  color: var(--lt-color);
}

.theme-switch-dark {
  color: var(--dt-color);
}
