.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: var(--std-separator-width) 0;
  align-items: center;
  flex-direction: row-reverse;
  --navbar-el-height: 35px;

  &__button {
    box-shadow: var(--std-box-shadow) !important;
    height: var(--navbar-el-height) !important;
    display: flex !important;
    align-items: center;
  }

  & > * {
    margin-right: var(--std-separator-width);
  }

  &__select-wallet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__select-wallet > * {
    width: 100%;
    margin-bottom: var(--std-separator-width);
  }

  &__select-wallet > *:last-child {
    margin-bottom: 0;
  }

  &__logo {
    height: var(--navbar-el-height);
    margin-right: auto;
    margin-left: var(--std-separator-width);
  }
}

.navbar-dark {
  &__button {
    background: var(--dt-btn-color) !important;
    border-width: 0px !important;
    color: var(--lt-color) !important;
  }
}

.navbar-light {
  &__button {
    background: var(--lt-btn-color) !important;
    border-width: 0px !important;
    color: var(--dt-color) !important;
  }
}

.lds-dual-ring {
  display: inline-block;
  box-sizing: border-box;
  margin-left: var(--std-separator-width);
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--btn-text);
  border-color: var(--btn-text) transparent var(--btn-text) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
